.idea
build
bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

web/cli/node_modules
web/cli/dist

web/stack/node_modules
web/stack/dist

web/dashboard/node_modules
web/dashboard/dist

web/installer/node_modules
web/installer/dist

pkg/commands/chart/bundle.js
pkg/commands/chart/bundle.js.LICENSE.txt
pkg/commands/chart/index.html

pkg/commands/stack/web/bundle.js
pkg/commands/stack/web/bundle.js.LICENSE.txt
pkg/commands/stack/web/index.html

.env

deploykey
deploykey.pub
repocache

fixtures/k3s/kubeconfig.yaml

.vscode/settings.json

gimletd.sqlite
gimlet-dashboard.sqlite

__debug_bin

cmd/installer/web/main.js
cmd/installer/web/1.chunk.js
cmd/installer/web/main.css
cmd/installer/web/index.html
cmd/installer/web/favicon.ico

.DS_Store

web/dashboard/coverage/
