.idea
build
bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

web/cli/node_modules
web/cli/dist

web/dashboard/node_modules
web/dashboard/dist

web/.vite

web/node_modules
web/dist

.env

deploykey
deploykey.pub
repocache

fixtures/k3s/kubeconfig.yaml

.vscode/settings.json

gimlet-dashboard.sqlite

**/__debug_bin*

.DS_Store

web/coverage/
web/dashboard/coverage/
cmd/dashboard/git-root/
