.idea
build
bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

web/cli/node_modules
web/cli/dist

web/stack/node_modules
web/stack/dist

pkg/commands/chart/bundle.js
pkg/commands/chart/bundle.js.LICENSE.txt
pkg/commands/chart/index.html

pkg/stack/template/web/bundle.js
pkg/stack/template/web/bundle.js.LICENSE.txt
pkg/stack/template/web/index.html

.env
