name: Tip
on:
  push:
    branches:
      - 'main'

jobs:
  build:
    name: Tip
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.14.7

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
      with:
        fetch-depth: 5

    - id: get_version
      uses: battila7/get-version-action@v2

    - name: Version is sha or tag
      id: sha_or_tag
      run: |
        if [[ $VERSION == refs/heads/* ]]
        then
            echo "::set-output name=version::$GITHUB_SHA"
        fi
      env:
        VERSION: ${{ steps.get_version.outputs.version-without-v }}

    - name: Build Frontend
      run: make build-frontend

    - name: Generate go code from frontend
      run: make generate-backend

    - name Setup SSH key for git chart test
      uses: webfactory/ssh-agent@v0.4.1
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Test Backend
      run: make test-backend

    - name: Dist
      run: make dist
      env:
        VERSION: ${{ steps.sha_or_tag.outputs.version }}

    - name: tip
      uses: eine/tip@master
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        rm: true
        files: |
          bin/*